.product-details {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product-tile {
        text-align: center;
        height: 300px;
        width: 300px;
        margin: 20px;
        padding: 20px;

        img {
            height: 200px;
        }
    }
}