<div class="product-list">
    <div class="product-tile" *ngFor="let product of products">
        <!-- TODO add routerLink -->
        <div class="clickable-area">
            <a [routerLink]="['/product', product.id]">
                <img [src]="product.imageUrl" [alt]="product.name">
                <h3>{{ product.name }}</h3>
            </a>
        </div>
        <!-- Task 2: start -->
        <app-add-to-basket
            [basketProduct]="product">
        </app-add-to-basket>
        <!--Task 2: end-->
    </div>
</div>