.product-list {
    padding-top: 40px;
    display: flex;
    justify-content: center;

    .product-tile {
        text-align: center;
        height: 300px;
        width: 300px;
        border: 1px gray solid;
        margin: 20px;
        padding: 20px;

        img {
            height: 200px;
        }

        button {
            width: 100%;
            padding: 10px;
            cursor: pointer;
        }
    }
}

.console-logs {
    height: 300px;
    width: 300px;
    border: 1px gray solid;
    margin: 20px;
    padding: 20px;
    overflow: auto;
}