.product-list {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product-tile {
        text-align: center;
        height: 300px;
        width: 300px;
        border: 1px #ddd solid;
        margin: 20px;
        padding: 20px;

        .clickable-area {
            cursor: pointer;
            outline: none;
        }

        img {
            height: 200px;
        }

        button {
            width: 100%;
            padding: 10px;
            cursor: pointer;
        }
    }
}